<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="LayoutPadrao">

<head>
	<title>Cadastro de gasto</title>
</head>

<section layout:fragment="conteudo">
    <form class="form-horizontal" method="POST" th:action="@{/movimentacoes}" th:object="${movimentacao}">
    	<div layout:include="MensagemGeral"></div>
    	<div layout:include="MensagemErro"></div>
    
    	<div class="panel panel-default">
    		<div class="panel-heading">
    			<div class="clearfix">
	   				<h1 class="panel-title aw-titulo-panel">Novo gasto</h1>
	   				<a class="btn btn-link aw-link-panel" th:href="@{/movimentacoes}">Voltar para pesquisa</a>
	   			</div>
    		</div>
    		
    		<div class="panel-body">
    			<input type="hidden" th:field="*{idMovimentacao}"/>
    				<div class="form-group">
						<label for="status" class="col-sm-2 control-label">Tipo de gasto (*)</label>
						<div class="col-sm-2">
							<select class="form-control" name="tipoMovimentacao" th:field="*{tipoMovimentacao}">
								<option value="">Selecione</option>
								<option th:each="tipoMovimentacao : ${tipoMovimentacoes}" th:value="${tipoMovimentacao.idTipoMovimentacao}" th:text="${tipoMovimentacao.nome}"></option>
	                    	</select>
	                    </div>
					</div>
    		
				<div class="form-group" th:classappend="${#fields.hasErrors('dtMovimentacao')} ? has-error">
					<label for="dtMovimentacao" class="col-sm-2 control-label">Data do gasto (*)</label>
					<div class="col-sm-2">  
						<input type="text" class="form-control"	id="dtMovimentacao" th:field="*{dtMovimentacao}"
							data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
							data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="bottom"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('vlMovimentacao')} ? has-error">
					<label for="vlMovimentacao" class="col-sm-2 control-label">Valor (*)</label>
					<div class="col-sm-2">   
						<input type="text" class="form-control js-currency" id="vlMovimentacao" th:field="*{vlMovimentacao}"/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('nmNotas')} ? has-error">
					<label for="nmNotas" class="col-sm-2 control-label">Notas</label>
					<div class="col-sm-4"> 
						<input type="text" class="form-control" id="nmNotas" th:field="*{nmNotas}"/>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label">
						(*) Campos obrigatórios
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
			</div>
    	</div>
    </form>
</section>
</html>